.change_tab_con{
    width: 90%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change_box{
    width: 50%;
    height: 70%;
    /*background: #f0ad4e;*/
}
.change_list{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change_list >div{
    width: 100%;
}
.change_title{
    display: inline-block;
    width: 20%;
    font-size: 18px;
    /*padding-left: 4%;*/
}
.change_list input{
    height: 38px;
    width: 75%;
    font-size: 18px;
    padding-left: 10px;
    background: none;
    border: 1px solid #ccc;
}
.cl_btn{
    display: block;
    width: 65%;
    height: 48px;
    margin: 10% auto 0;
    background: #399627;
    font-size: 18px;
    border-radius: 10px;
    color: white;
}



#PoPy {
    background: white !important;
}

._citys {
    background: white !important;
}

._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
}

._citys span {
    color: #399627;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #399627;
    cursor: pointer;
}

._citys0 {
    width: 100%;
    height: 34px;
    display: inline-block;
    border-bottom: 2px solid #399627;
    padding: 0;
    margin: 0;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.citySel {
    background-color: #399627;
    color: #fff !important;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #399627;
}

.AreaS {
    background-color: #399627 !important;
    color: #fff !important;
}




















