.dividend_tab_con,
.wd_tab_con,
.tiHuo_tab_con{
    width: 100%;
    height: auto;
}
.dividend_tab_con table tbody tr td:nth-child(3){
    color: rgb(253,101,0);
}
.wd_tab_con table tbody tr td:nth-child(2){
    color: rgb(253,101,0);
}








