.change_container{
    width: 100%;
    height: auto;
}
.a_head_box{
    width: 100%;
    height: .8rem;
    background-color: white;
}
.a_head_box >div{
    width: 33.3333333%;
    height: 100%;
    float: left;
}
.a_head_back >a{
    display: block;
    width: .3rem;
    height: .4rem;
    margin-top: .2rem;
    margin-left: .2rem;
    background: url("../image/1-return.png") no-repeat center;
    background-size: .2rem 100%;
}
.a_head_title{
    text-align: center;
    line-height: .8rem;
    font-size: .3rem;
}
.cp_container{
    width: 100%;
    height: auto;
    margin-top: .2rem;
    background-color: white;
    padding-bottom: .5rem;
}
.cp_list{
    width: 94%;
    height: .8rem;
    border-bottom: 1px solid #ccc;
    margin:  0 auto;
    line-height: .8rem;
}
.cp_title{
    display: inline-block;
    font-size: .26rem;
    width: 25%;
}
.cp_list >input{
    width: 45%;
    height: 80%;
    border: none;
    font-size: .26rem;
}
.cp_list >button{
    width: 30%;
    height: 60%;
    border-radius: .1rem;
    border: 1px solid #9a9a9a;
    background-color: white;
    font-size: .24rem;
}
.ok_btn{
    display: block;
    width: 80%;
    height: .8rem;
    margin:  .8rem auto;
    border: none;
    border-radius: .1rem;
    background-color: rgb(244,105,12) ;
    font-size: .3rem;
    color: white;
}








